<div class="content">

    <h2>Welcome!</h2>
    <h3>We are happy to have you, {{user.fname}} {{user.lname}} !</h3>
    <button onclick="location.href='/Dashboard/Logout'" type="button">Logout</button>
    
</div>