<form class="modal-content" action="/Login" method="POST">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" value="{{formD.emailholder}}">

        <div class="errors">{{emailError}}</div>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" value="{{formD.pswholder}}">

        <div class="errors">{{passwordError}}</div>
        <button type="submit">Login</button>
</form>