<div class="content">
    <h2>No cooking, just eating</h2>
    <div class="row">
        <div class="col-3 col-s-3">
            <img src="https://cdn.shopify.com/s/files/1/1758/4293/files/Pick_1.gif?14089" alt="">
            <h3> Pick </h3>
            <h4>100+ menu of all-natural dishes.</h4>
        </div>
        <div class=" col-3 col-s-3">
            <img src="https://cdn.shopify.com/s/files/1/1758/4293/files/heat.gif?14089" alt="">
            <h3> Heat </h3>
            <h4>Cooked & delivered.</h4>
        </div>
        <div class=" col-3 col-s-3">
            <img src="https://cdn.shopify.com/s/files/1/1758/4293/files/eat_1_1.gif?14089" alt="">
            <h3> Eat </h3>
            <h4>Delicious & nutritious.</h4>
        </div>
        <div class=" col-3 col-s-3">
            <img src="https://cdn.shopify.com/s/files/1/1758/4293/files/repeat---Copy.gif?14095" alt="">
            <h3> Repeat </h3>
            <h4>Skip a week or cancel any time.</h4>
        </div>
    </div>

    <h2>Our chefs are making these right now!</h2>
    <h3>You could be chowing down on any of these meals any time you choose - seriously!<br>
        Order some (or all) of these meals and see why thousands of Canadians stock us in their fridge!</h3>

    <div class="grid-container_meals">
        {{#each data}}
        <div class="meals">
            <img src="{{this.img}}"> <br><br>
            <span id="title"><b>Title :</b> {{this.title}}<br></span>
            <span id="price"><b>Price : {{this.price}}</b><br></span>
        </div>
        {{/each}}
    </div>
</div>